/********************SPROGBESKRIVELSER*****************/
h2 {
  padding-bottom: 1em;
}

h3 {
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.teknologier-introtext {
  padding-bottom: 1.5em;
}

.teknologier-section1-container {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding-top: 2em;
  margin-top: -4%;
  box-sizing: border-box;
  margin-bottom: 2em;


}

.teknologier-section1-billede-html {
  padding: 1em 2em 1.2em 2em;
  background-color: rgb(242, 232, 207);
}

.teknologier-section1-css-js {
  background-color: rgb(242, 232, 207);
  padding: 0.5em 2em 1.2em 2em;

}

.teknologier-illustration-caption {
  font-size: small;
}


.teknologier-section1-html h2 {
  font-size: 20px;
}




.codepen-section {
  background-color: rgb(167, 201, 87, 0.3);
  ;
}



@media only screen and (max-width: 600px) {


  h2 {
    white-space: pre-wrap;
  }

  .teknologier-section1-container {
    display: block;
    flex-direction: row;
    gap: 1.5em;
    padding-top: 2em;
    margin-top: -4%;
  }

  .teknologier-section1-css-js {
    background-color: rgb(242, 232, 207);
    border-radius: 2px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;


  }

  .teknologier-section1-css-js p {
    padding-bottom: 1em;
  }

  .teknologier-section1-html h2 {
    font-size: 20px;
  }

  z
}